@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
.fullview {
  background-color: #f0f0f0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin: 0;
}
h6 {
  font-family: "Playfair Display", serif;
  font-size: 4px;
  letter-spacing: 1px;
  font-weight: 2000;
  padding: 3px;
}
.red {
  color: #fb5678;
}
.sizing {
  width: 22%;
}
.bottom {
  margin-bottom: 1%;
}
.container-fluid {
  width: auto !important;
  margin-right: 3% !important;
  margin-left: 3% !important;
  background-color: white;
  border-radius: 9px;
}

input {
  width: 254px;
  height: 25px;
  opacity: 0.5;
  border-radius: 3px;
  border: 1px solid black;
}

.button {
  float: right;
  font-family: "Inter", sans-serif !important;
  font-size: 12px !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
}
